:root {
    --black-pearl-50: #eefbfd;
    --black-pearl-100: #d3f3fa;
    --black-pearl-200: #ade7f4;
    --black-pearl-300: #74d4ec;
    --black-pearl-400: #34b8dc;
    --black-pearl-500: #199cc1;
    --black-pearl-600: #177da3;
    --black-pearl-700: #1a6484;
    --black-pearl-800: #1e536c;
    --black-pearl-900: #1d465c;
    --black-pearl-950: #091e2a;
    }
    
    html {
        min-height: 100%;
    }

    * {
        margin: 0; 
        box-sizing: border-box;     
    }

    body {
        display:inline-flex;
        flex-direction: column;
        text-align: center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background: linear-gradient(#eefbfd,#74d4ec);
    }
    
    header {
        text-align:center;
        width:1000px;
        border-style: solid;
        border-width: 5px;
        border-radius: 20px;
        border-color: var(--black-pearl-900);  
        background-color: var(--black-pearl-100);
    }

    h1 {
        font-size:60px;
        color: var(--black-pearl-900);
    }

    h2 {
        font-size:30px;
        color: var(--black-pearl-900);
    }

    h3 {
        font-size:20px;
        
    }

    nav>strong{
        font-size:20px;
        margin-left:20px;
        margin-right:20px;
        padding-right: 30px;
        color: var(--black-pearl-900);
    }

    nav>a {
        font-size: 20px;
        text-decoration: none;
        color:#f3600b;
    }

    a:hover{
        background-color: var(--black-pearl-50)
    }